body {
    background: gray;
}

a, a:visited {
    color: lightcyan;
    text-decoration: none;
}

table a, table a:visited {
    color: darkslategray;
}

.lang {
    background: dimgray;
    padding: 0.3em;
    position: fixed;
    right: 2em;
    top: .2em;
}

.lang a .active {
    font-weight: bold;
}

.content {
    background: lightgray;
    width: 600px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    margin: auto;
    padding: .5em;
}

.footer, .header {
    width: 600px;
    margin: 3em auto 2em auto;
    background: dimgray;
    padding: .5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.file-input {
    background: #eaeaea;
}

table {
    margin-left: 2em;
}

table td {
    padding-left: 0.5em;
}

th {
    text-align: left;
    text-decoration: underline;
}

.error {
    color: darkred;
    font-style: italic;
    margin: 1em;
}

.info {
    color: darkgreen;
    font-style: italic;
    margin: 1em;
}

