<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{html.title}">Title placeholder</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/style.css" th:href="@{/style.css}" />
    <script src="../../static/jquery-3.0.0.min.js" th:src="@{/jquery-3.0.0.min.js}"></script>
</head>
<body>

<div th:fragment="header" class="header" th:class="header">
    <a href="../upload.html" th:href="@{/}" th:text="#{upload}">Upload</a> |
    <a href="../upload.html" th:href="@{/summary}" th:text="#{summary}">Summary</a> |
    <a href="../about.html" th:href="@{/about}" th:text="#{about}">About</a>
    <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        | <span> <a href="/logout" th:href="@{/logout}">[[#{logout}]]</a> ([[${#authentication.name}]])</span>
    </th:block>

    <div class="lang">
    <span th:each="l : ${@localeMap.entrySet()}">
        <a href="#" th:href="@{${url}(locale=${l.key})}" th:text="${l.value}" th:class="__${#locale}__==${l.key}?'active':''">lang</a>
        <th:block th:if="${!lStat.last}"> | </th:block>
    </span>
<!--/*-->
  <span><a th:remove="" href="#">lang2</a>  </span>
<!--*/-->
    </div>
</div>

<div class="content">
    Some content here...
    <form><input type="file" class="file-input" value="Test" /></form>
</div>

<div class="footer" th:fragment="footer" th:class="footer">
    <div th:text="#{slogan}">A slogan here =)</div> | <div>&copy;2016 <a href="mailto:michael@wikberg.fi">Michael Wikberg</a></div>
</div>

</body>
</html>
