<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head ( 'Error: ' + ${status} )">
</head>
<body>
<div th:replace="fragments/layout :: header">Header placeholder</div>
<div class="content">
<h1>Something went very wrong...</h1>

<p th:if="${url}">
    <b>Page:</b> <span th:text="${url}">Page URL</span>
</p>

<p th:if="${timestamp}" id='created'>
    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
</p>

<p th:if="${status}">
    <b>Response:</b>
    <span th:text="${status}">status-code</span>
    <span th:if="${error}" th:text="'('+${error}+')'">some error</span>
</p>

<div th:if="${exception} or (${message} and ${message.length() != 0})">
    <b>Cause:</b>
    <span th:if="${exception}" th:text="${exception}">excepion message</span>
    <span th:if="${message} and ${message.length() != 0}" th:text="${message}">error message</span>
</div>

<p th:unless="${exception} or (${message} and ${message.length() != 0})">
    Unknown exception or error...</p>
</div>
<div th:replace="fragments/layout :: footer">Footer placeholder</div>
</body>
</html>
