<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head ( #{output.html.title} )">
    <meta charset="UTF-8">
    <title>Title placeholder</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" />
</head>

<script th:inline="javascript">
    /*<![CDATA[*/
    function getDetails(id) {
        var url = /*[[@{'/detail/'}]]*/ 'dummy';
        url += id;
        //alert("Url is: " + url);
        $("#details").load(url);
    }
    /*]]>*/
</script>

<body>

<div th:replace="fragments/layout :: header">Header placeholder</div>

<div class="content">

    <div class="wageList" th:unless="${#lists.isEmpty(wages)}" th:with="locale=${#locale.language}">

        <h3 th:text="#{wages.for} + ' ' + ${@dateFormatter.withLocale(locale).format(dateStart)} +
        ' - ' + ${@dateFormatter.withLocale(locale).format(dateEnd)}">
            Title and date placeholder
        </h3>
        <table>
            <tr>
                <th>[[#{employee.id}]]</th>
                <th>[[#{employee.name}]]</th>
                <th>[[#{wage('$')}]]</th>
            </tr>
            <tr th:each="wageLine : ${wages}" th:with="id=${wageLine.employeeId}">
                <td>[[${wageLine.employeeId}]]</td>
                <td><a href="#" th:href="@{'/detail/' + ${id}}"
                       th:onclick="'getDetails(' + ${id} + '); return false;'">[[${wageLine.employeeName}]]</a></td>
                <td>[[${wageLine.netWage}]]</td>
            </tr>
        </table>
    </div>
    <p></p>
    <div th:id="details" th:fragment="detail">
        <div th:unless="${detail == null}">
            <h4>[[#{details.for.employee(${detail.employeeName})}]]</h4>
            <table>
                <tr>
                    <th></th>
                    <th>Total</th>
                    <th>Evening work</th>
                    <th>Overtime work</th>
                </tr>
                <tr>
                    <td>[[#{sum.detail}]]</td>
                    <td>[[${detail.netWage}]] ([[${detail.totalWorkHours}]])</td>
                    <td>[[${detail.eveningWorkWage}]] ([[${detail.eveningWorkHours}]])</td>
                    <td>[[${detail.overtimeWorkWage}]] ([[${detail.overtimeWorkHours}]])</td>
                </tr>
            </table>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(wages)}" th:text="#{data.missing}">No data</div>
</div>

<div th:replace="fragments/layout :: footer">Footer placeholder</div>

</body>
</html>
