<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head ( #{html.title.test} )">
    <meta charset="UTF-8">
    <title>Title placeholder</title>
</head>
<body>
<div th:replace="fragments/layout :: header">Header placeholder</div>

<div class="content">
    <form action="#" th:action="@{/summary}" enctype="multipart/form-data"
          method="post">
        <h3 th:text="#{upload.csv}">Upload</h3>
        <input class="file-input" type="file" th:name="hourlist" th:id="hourlist"/>
        <input class="" type="submit" th:value="#{upload}" />
    </form>
</div>

<div th:replace="fragments/layout :: footer">Footer placeholder</div>

</body>
</html>
